body {
    background-image: url(1773869.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    width: 45%;
    background-color: transparent;
    padding: 10px 0;
    overflow: hidden;
}
main a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.carrosel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.carrosel-inner {
    display: flex;
    transition: 0.5s ease;
}
.carrosel-item {
    min-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrosel-item a{
    display: block;
    width: 400px;
    height: 300px;
    margin-left: 160px;
    transition: color 0.1s ease;
}
.carrosel-item a:active {
    color: rgb(151, 151, 151);
}
.next {
    width: 100px;
    height: 30px;
    background-color: rgb(37, 37, 37);
    border: 0;
    border-radius: 5px;
    color: white;
    transition: background-color 1s ease, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    left: 250px;
    box-shadow: 2px 4px 2px 2px rgb(29, 29, 29);
}
.next:active {
    background-color: rgb(68, 67, 67);
    box-shadow: 0px 0px 0px 0px transparent;
}
#fim {
    margin-left: 88px;
}
